!!!
%html(ng-app="myApp")
  %head
    %script(src="js/libs/jquery-1.10.2.min.js")
    %script(src="js/libs/angular.js")
    %script(src="js/libs/angular-resource.js")
    %link(rel="stylesheet" type="text/css" href="css/style.css")
    %script{:type => "text/javascript", :src  => "js/main.js"}
  %body(ng-controller="AppListController")
    %div.title Users
    %div(ng-view)
    %a(href="#/add") Add
    %a(href="#/list") List  
  %br
  %span(class="margin") You are logged from: #{locals[:ip]}
-# %span(ng-repeat="item in items") ID: {{item.id}}, Name:{{item.name}}