!!!
%html(ng-app="myApp")
  %head
    %script(src="/js/libs/jquery-1.4.4.min.js")
    %script(src="/js/libs/angular.js")
    %script(src="js/main.js")
    %script{:type => "text/javascript", :src  => "/js/main.js"}
  %body(ng-controller="MyCtrl")
    %button(ng-click="loadData()") testing button
    %span(ng-repeat="item in items") ID: {{item.id}}, Name:{{item.name}}
    .row-fluid
      %span(ng-bind-html-unsafe="(1 > 2) | whatAmI")
      %span(ng-bind-html-unsafe="(1 < 2) | whatAmI")
    %div.title Hello World2